{% extends 'movies/base.html' %}

{% block content %}
    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'movies:index' %}">Home</a>
            <a href="{% url 'blog:index' %}">Blog</a>
            <a href="{% url 'blog:about' %}">About</a>
    </div>

    <div id="main">
            <div class="article-image" style="background-image: url('{{ review.heading_image.url }}');"></div>
            <div class="masthead">
                <div style="font-size: 30px; cursor: pointer; margin-right: 10px; margin-top: 10px; border: 1px solid #bcbcbc; display: inline-block; padding: 6px 6px; position: relative; z-index: 3; color: #bcbcbc; float: right" onclick="openNav()">&#9776;</div>                                                    
                <h1 class="title">Superimposing</h1>                
            </div>
            <header class="article-header">
                <h1 class="article-title">{{ review.title }}</h1>
            </header>

            <div class="article-content-area">
                <div class="article-content">
                    <p>{{ review.content | safe | linebreaks }}</p>
                </div>
            </div>
            
    </div>

    <script>
        function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("main").style.marginRight = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0px";
			document.getElementById("main").style.marginRight = "0px";
		}
    </script>

{% endblock %}