{% extends 'movies/base.html' %}

{% block content %}

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'movies:index' %}">Home</a>
		<a href="{% url 'blog:index' %}">Blog</a>
		<a href="#">About</a>
	</div>

	<div id="main">
        <div class="menu" style="text-align: right;">
            <div style="font-size: 30px; cursor: pointer; margin-right: 10px; margin-top: 10px; border: 1px solid black; display: inline-block; padding: 6px 6px;" onclick="openNav()">&#9776;</div>				
        </div>
		<h1 id="header">SUPERIMPOSING</h1>
        <h4 id="subheader">A Movie Blog For Movie Buffs</h4>
        

        {% for review in review_list %}
		<article class="post">
			<div class="post-background" style="background-image: url('{{ review.heading_image.url }}')"></div>
			<div class="post-info">
				<h1>{{ review.title }}</h1>
				<p>{{ review.excerpt }}</p>
				<a href="{% url 'movies:detail' review.id %}">Read More   <i class="fa fa-long-arrow-right" style="margin-left: 5px"></i></a>
			</div>
        </article>
        {% endfor %}
	
		<div class="post">
			<div class="post-background"></div>
			<div class="post-info">
				<h1>Hello World!</h1>
				<p>My name is David Scheuermann, and I'm a 25 year old film lover.</p>
				<a>Read More   <i class="fa fa-long-arrow-right" style="margin-left: 5px"></i></a>		
			</div>
		</div>
	</div>
	
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("main").style.marginRight = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0px";
			document.getElementById("main").style.marginRight = "0px";
		}
	</script>

{% endblock %}