{% extends 'blog/base.html' %}
{% block content %}

<div class="ui two column equal width grid container" style="margin-top: 20px">
    <div class="post">
        <div class="ui image">
            {% load static %}
            <img src="{% static 'blog/family.jpg' %}">
        </div>
        <div class="ui attached segment" style="margin-bottom: 40px;">
            <a href="#"><h2 class="heading">What's a David Scheuermann?</h2></a>
            <div class="description">
                    <p>Good question.</p>
                    
                    <p>I’m a 26 year old software engineer with a passion for computers, learning, movies, video games, and food.</p>
                    
                    <p>I’ve lived in the New Orleans area all my life, and I am currently attending LSU to finish a degree in Computer Science.</p> 
                    
                    <p>I built this website to showcase my abilities with HTML and CSS as well as my understanding of the Django web framework and, thus, Python. I wanted to show that I was capable in both back-end and front-end software development, though I prefer to work on the back-end.</p> 
                    
                    <p>I have been interested in computers and technology since I was in grade school, and I finally began learning programming when I started college.</p>
                    
                    <p>I started my programming education by learning Java and object-oriented design. Eventually, I expanded to learn C++, C, C#, Python, and JavaScript, and I feel comfortable learning any new language or framework if needed.</p> 
                    
                    <p>I’ve also gained a decent understanding of HTML5 and CSS3, allowing me to create and design web pages. I’ve built up my front-end knowledge, leaning to use the Angular 2, Bootstrap, and Semantic UI (which is used by this blog) to make nice-looking interfaces.</p> 
                    
                    <p>I’m comfortable with a few web frameworks. This website was built with Django, as stated, but I’ve also developed a website with the MEAN stack, using Node.js and Express.js, and I have done some work using ASP.NET. I’ve also developed desktop GUI applications using Qt and WPF in .NET.</p> 
                    
                    <p>I have a decent understanding of SQL, preferring PostgreSQL over other flavors. However, I also have some experience with MongoDB.</p>
                    
                    <p>I’ve begun experimenting with video game development, starting with simple web games with HTML5 and JavaScript and recently moving on to learn Unity. I have some examples of what I’ve done on this page.</p> 
                    
                    <p>I love open source software, and I’ve been running Linux on my laptops for nearly ten years (usually as a dual boot option). Each year I gain a better understanding of the operating system, and I’m pretty comfortable writing shell scripts in Bash. Android is my mobile operating system of choice for similar reasons, though I’d love for a true open source, Linux-based operating system to catch on in the mobile space.</p> 
                    
                    <p>With the technical stuff out of the way now, here’s a little more about me personally.</p> 
                    
                    <p>I love movies, old and new, foreign and domestic, color and black and white. I have a problem with buying Criterion Collection Blu Rays, and I’m always willing to catch the latest critically acclaimed films.</p> 
                    
                    <p>I have a particular fondness for Star Wars. It’s one of the first films I remember seeing in theaters, having been taken to see the special edition in 1997. I watch the original trilogy at least once per year</p>
                    
                    <p>I have a deep appreciation for video games, which I consider my favorite entertainment medium. I’ve been playing them since the NES with Super Mario Bros. 3.</p>
                    
                    <p>My love of video games is what spurred me to develop my video game review web application, Logd. I wanted to keep track of what games I played and how I rated them. My favorite games can be seen in a list on this website here. I don’t know if anything will ever supplant Shadow of the Colossus and Mass Effect as my top two.</p> 
                    
                    <p>I’ve always been into sports.</p> 
                    
                    <p>Of course, I have a passion for the Saints. I’ve been cheering for them my entire life, and their Super Bowl win is one of my favorite memories ever. I spent that night walking through the French Quarter, high-fiving strangers and yelling “Who dat!” at the top of my lungs.</p>
                    
                    <p>I’ve grown extremely interested in soccer since 2012, supporting Liverpool FC in the Premier League. I also enjoy basketball and go to Pelicans games whenever I can (although I have to admit I enjoy watching the Warriors play as well).</p>
                    
                    <p>I’d like to gain a better appreciation of music, although I am open minded when it comes to genre. My favorite artists are Radiohead, Burial, Aphex Twin, The Beatles, and Run The Jewels.</p> 
                    
                    <p>I love trying new restaurants and eating new foods. I’m always willing to try anything once, no matter how weird it might be. </p>
                    
                    <p>I’m really big on traveling, hoping to one day step foot on every continent.</p> 
                    
                    <p>Thanks for visiting my website!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}