<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">    
	<link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet"> 	
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">    
	<title>My Blog</title>
</head>
<body>
	<div class="ui fixed inverted borderless menu">
		<div class="ui container">
			<a href="{% url 'landing' %}" class="header item">DHS</a>
			<div class="right menu" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 0.75em; letter-spacing: 2px;">
				{% load static %}
				<a class="item" href="{% url 'blog:index' %}">HOME</a>
				<a class="item" href="{% url 'movies:index' %}">MOVIES</a>
				<a class="item" href="https://superimposing.wordpress.com/">GAMES</a>
				<a class="item" href="{% static 'resume.pdf' %}">RESUME</a>
				<a class="item">ABOUT</a>
			</div>
		</div>
	</div>

	{% block content %}
	{% endblock %}
</body>
</html>
