{% extends 'blog/base.html' %}

{% block content %}

<div class="ui three column grid container" style="margin-top: 20px;">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        {% load static %}
        <img src="{% static 'blog/games/pong/pong.png' %}">
      </div>
      <div class="content">
        <a class="header"  href="{% url 'blog:pong' %}">Pong</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'blog/games/snake/snake.png' %}">
      </div>
      <div class="content">
        <a class="header" href="{% static 'blog/games/snake/snake.html' %}">Snake</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'blog/games/block_breaker/blockbreaker.png' %}">
      </div>
      <div class="content">
        <a class="header" href="{% static 'blog/games/block_breaker/index.html' %}">Block Breaker</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'blog/games/laser_defender/laserdefender.png' %}">
      </div>
      <div class="content">
        <a class="header" href="{% static 'blog/games/laser_defender/index.html' %}">Laser Defender</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="{% static 'blog/games/kobayashi_maru/kobayashimaru.png' %}">
      </div>
      <div class="content">
        <a class="header" href="{% static 'blog/games/kobayashi_maru/index.html' %}">Kobayashi Maru</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
