{% extends 'blog/base.html' %}

{% block content %}

    {% if page_obj %}
    
    <div class="ui stackable two column equal width grid container" style="margin-top: 20px">
        <div class="column">
            {% for post in page_obj %}
            <div class="post">
                <div class="ui image">
                    <img src="{{ post.heading_image.url }}">
                </div>
                <div class="ui attached segment" style="margin-bottom: 40px;">
                    <a href="{% url 'blog:detail' post.id %}"><h2 class="heading">{{ post.heading }}</h2></a>
                    <div class="meta">
                        <span class="author">By {{ post.author }}</span>
                        <span>{{ post.pub_date }}</span>
                    </div>
                    <div class="description">
                        <p>{{ post.excerpt | safe | linebreaks }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Navigation for pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <button class="ui left floated secondary button">
                                Previous
                            </button>
                        </a>
                    {% endif %}
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <button class="ui right floated secondary button">
                                Next
                            </button>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
        
        <div class="four wide column about">
            <div class="ui card">
                <div class="image">
                    <img src="https://s3.us-east-2.amazonaws.com/dscheuermann-assets/static/profile.png" class="ui medium image">
                </div>
                <div class="content">
                    <a><h2 class="heading">About Me</h2></a>
                    <div class="meta"></div>
                    <div class="description">
                        <p style="white-space: pre-line">
                                Hi!

                                My name is David Scheuermann, and I’m a 26-year-old software developer with a passion for computers, learning, movies, video games, and food. 
                                
                                I’ve lived in the New Orleans area all my life, and I am currently attending LSU to finish a degree in Computer Science.
                                
                                I built this website to showcase my abilities with HTML and CSS as well as my understanding of the Django web framework and, thus, Python. I wanted to show that I was capable in both back-end and front-end software development, though I prefer to work on the back-end. 
                                
                                I can program in C++, C#, Python, Java, C, and JavaScript, and I feel comfortable learning any new language or framework if needed. I have a decent understanding of HTML5 and CSS3, and I’ve done some front-end work with Angular 2, Bootstrap, and Semanti UI. I also have a decent understanding of SQL (PostgreSQL specifically) and MongoDB. 
                                
                                I love open source software and especially the Linux operating system, and I’m currently diving into video game development, as I’ve discovered a passion for it.
                                
                                I’m a big movie buff, loving films from all times and of various genres. I have a problem buying Criterion Collection Blu Rays each time there is a sale. I have a particular fondness for Star Wars which I watch at least once a year. 
                                
                                I love video games, with Shadow of the Colossus and Mass Effect being my two favorites, but I’ve been playing them since I had Super Mario Bros. 3 on the NES. 
                                
                                I’m a big Saints fan, a Liverpool FC fan, and a Pelicans fan.
                                
                                And I love trying new foods and seeing new places. 
                                
                                Thanks for visiting my website!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No posts are available</p>
    {% endif %}

{% endblock %}
