<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">    
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet"> 	
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">    
    <title>Snake!</title>
</head>
<body>
    <div class="ui inverted borderless menu" style="margin-bottom: 20px;">
        <div class="ui container">
            <a href="{% url 'landing' %}" class="header item">DHS</a>
            <div class="right menu" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 0.75em; letter-spacing: 2px;">
                {% load static %}
                <a class="item" href="{% url 'blog:index' %}">HOME</a>
                <a class="item" href="{% url 'movies:index' %}">MOVIES</a>
                <a class="item" href="{% url 'blog:games' %}">GAMES</a>
                <a class="item" href="{% static 'resume.pdf' %}">RESUME</a>
                <a class="item" href="{% url 'blog:about' %}">ABOUT</a>
            </div>
        </div>
    </div>
	<p>Snake</p>
    <canvas id="gameCanvas" height="500" width="500" style="height: 800; width: 800;"></canvas>
    {% load static %}
    <script src="{% static 'blog/games/snake/snake.js' %}">
</script>
</body>
</html>